@charset "UTF-8";
.content{
	display: flex;
	flex-direction: column;
}


table.boardList{
	border-collapse:collapse;
	text-align: left;
	line-height: 1.5;
	border: 1px solid #ccc;
	margin: 20px 10px;
}

table.boardList thead{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #e7708d;
}

table.boardList thead th{
	padding: 10px;
	font-weight: bold;
	vertical-align: middle;
	color: #fff;
	text-align: center;
	
	}
table.boardList tbody th{
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-botton: 1px solid #ccc;
	background: #fcf1f4;
}

table.boardList td{
	width:350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	text-align: center;
}


div.pagging{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 32px;
	
	
}












